.jumbotron {
    color: black;
    background-color: transparent;
  
}


body {
    background-image: url("../../assets/images/npbk3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #cccccc;
    max-width: 100%;
    height: auto;
    font-family: 'Poppins' !important;
}